<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-boilerplate</title>
    <link rel="stylesheet" href="//localhost/vue-boilerplate/prd/base@sdsf12e.css">
    <link rel="stylesheet" href="//localhost/vue-boilerplate/prd/style@sdsf12e.css">
  </head>
  <body>
    <div id="app"></div>
    <script>
      window.portalMenu = [{
        pApp: '',
        pCode: '',
        iUrl: 'icon路径',
        url: '',
        pr: '1',
        show: 1,
        baseUrl: '',
        code: 'usc_cs_customer',
        app: '',
        cn: '客户',
        en: 'customer'
      }, {
        pCode: 'usc_cs_customer',
        iUrl: 'icon路径',
        url: '/customer/list',
        pr: '1',
        show: 1,
        code: 'usc_cs_customer_list',
        cn: '客户列表',
        en: 'customer_list'
      }, {
        pCode: 'usc_cs_customer',
        iUrl: 'icon路径',
        url: '/customer/contacter',
        pr: '2',
        show: 1,
        code: 'usc_cs_customer_contacter',
        cn: '联系人',
        en: 'contacter'
      }, {
        pApp: '',
        pCode: '',
        iUrl: 'icon路径',
        url: '',
        pr: '2',
        show: 1,
        baseUrl: '',
        code: 'usc_cs_opportunity',
        app: '',
        cn: '机会',
        en: 'opportunity'
      }, {
        pCode: 'usc_cs_opportunity',
        iUrl: 'icon路径',
        url: '/opportunity/dashboard',
        pr: '1',
        show: 1,
        code: 'usc_cs_opportunity_dashboard',
        cn: '机会面板',
        en: 'dashboard'
      }, {
        pCode: 'usc_cs_opportunity',
        iUrl: 'icon路径',
        url: '/opportunity/list',
        pr: '2',
        show: 1,
        code: 'usc_cs_opportunity_list',
        cn: '机会列表',
        en: 'list'
      }];
    </script>
    <!-- built files will be auto injected -->
    <script src="//localhost/vue-boilerplate/prd/manifest@sdsf12e.js"></script>
    <script src="//localhost/vue-boilerplate/prd/vendor@sdsf12e.js"></script>
    <script src="//localhost/vue-boilerplate/prd/main@sdsf12e.js"></script>
  </body>
</html>
